@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes slideRightToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .carousel-container {
    animation: slideRightToLeft 10s linear infinite;
  }
}
